.nav-item {
    list-style: none;
}

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}

[dir="rtl"] .dropdown-menu-end {
    left: 0 !important;
    right: auto !important;
}

[dir="ltr"] .dropdown-menu-end {
    right: 0 !important;
    left: auto !important;
}



.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: #f8f9fa17;
}

.bg-dropdown-menu-gradient-hero {
     background-color: var(--gradient-hero) !important;
}
